/**
 * General styles for all pages
 */
body, div {
	margin: 0;
	padding: 0;
	font-family: sans;
	font-size: 0.95em;
}


h1 {
	font-size: 2em;
	margin: 0 0 1em 0;
	padding: 0;
}

/**
 * Search style for the landing page
 */
div.search p {
	padding-bottom: 1em;
}


div.search {
	text-align: center;
	margin-top: 10%;
	font-family: sans;
}

div.search div.jirainfo {
	width: 80%;
	max-width: 50em;
	overflow: hidden;
	margin: auto;
	text-align: left;
}

div.search div.jirainfo label {
	width: 7em;
	display: block;
	float: left;
	margin-top: 1em;
}

div.search input,
div.search select {
	padding: 1em;
	margin-left: 0;
}

div.search div.jirainfo input[type=submit] {
	margin-left: 7em;
}

div.search input[name="jql"] {
	width: 70%;
}

/**
 * Styles for the printable list
 */
div.ticket {
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	float: left;
	height: 20%;
	width: 31%;
	padding: 1%;
	page-break-inside : avoid;
	overflow: hidden;
}

div.ticket div.summary {
	font-weight: bold;
	text-align: center;
	width: 100%;
	height: 57%;
	font-size: 1.3em;
	overflow: hidden;
	line-height: 1.1em;
}

div.ticket div.epic {
	float: right;
	overflow: hidden;
	white-space: nowrap;
	max-width: 45%;
	text-overflow: ellipsis;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 0 0.5em 0 0.5em;
	color: #fff;
}

div.epic.epicgroup_0 { background-color: #FF0000 }
div.epic.epicgroup_1 { background-color: #FF7400 }
div.epic.epicgroup_2 { background-color: #009999 }
div.epic.epicgroup_3 { background-color: #00CC00 }
div.epic.epicgroup_4 { background-color: #CD0074 }
div.epic.epicgroup_5 { background-color: #9FEE00 }
div.epic.epicgroup_6 { background-color: #FFE900 }
div.epic.epicgroup_7 { background-color: #B90091 }
div.epic.epicgroup_8 { background-color: #540EAD }
div.epic.epicgroup_9 { background-color: #FF0000 }
div.epic.epicgroup_10 { background-color: #FF7400 }
div.epic.epicgroup_11 { background-color: #009999 }
div.epic.epicgroup_12 { background-color: #00CC00 }
div.epic.epicgroup_13 { background-color: #CD0074 }
div.epic.epicgroup_14 { background-color: #9FEE00 }
div.epic.epicgroup_15 { background-color: #FFE900 }
div.epic.epicgroup_16 { background-color: #B90091 }
div.epic.epicgroup_17 { background-color: #540EAD }

div.ticket div.reporter {
	white-space: nowrap;
	visibility: hidden;
}

div.ticket div.reporter:before {
	content: "From: ";
	color: #666;
}

div.ticket div.assignee {
	float: left;
	white-space: nowrap;
}

/*div.ticket div.assignee:before {
	content: "To: ";
	color: #666;
}*/

div.ticket div.assignee span.name {
	display: none;
}

div.ticket div.assignee img {
	float: left;
	margin-top: -32px;
}

div.ticket div.rank {
	display: none;
	float: right;
	white-space: nowrap;
}

div.ticket div.rank:before {
	content: "Rank: ";
	color: #666;
}

div.ticket div.parent {
	float: right;
	white-space: nowrap;
}

div.ticket div.parent:before {
	content: "Parent: ";
	color: #666;
}

div.ticket div.remaining_time {
	float: right;
	white-space: nowrap;
}

div.ticket div.remaining_time:before {
	content: "Time: ";
	color: #666;
}

div.priority div:first-child {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 0.2em;
}

div.priority.blocker { background-image: url(../images/priorities/blocker.svg); }
div.priority.critical { background-image: url(../images/priorities/critical.svg); }
div.priority.major { background-image: url(../images/priorities/major.svg); }
div.priority.minor { background-image: url(../images/priorities/minor.svg); }
div.priority.trivial { background-image: url(../images/priorities/trivial.svg); }
div.priority.willsee  { background-image: url(../images/types/willsee.svg); }

div.issuetype div:first-child {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 0.2em;
}

div.issuetype.image.bug { background-image: url(../images/types/bug.svg); }
div.issuetype.image.epic, div.issuetype.image.epicforagileboards { background-image: url(../images/types/epic.svg); }
div.issuetype.image.task { background-image: url(../images/types/task.svg); }
div.issuetype.image.subtask { background-image: url(../images/types/subtask.svg); }
div.issuetype.image.idea { background-image: url(../images/types/idea.svg); }
div.issuetype.image.improvement { background-image: url(../images/types/improvement.svg); }
div.issuetype.image.newfeature { background-image: url(../images/types/newfeature.svg); }
div.issuetype.image.story, div.issuetype.image.userstory { background-image: url(../images/types/story.svg); }

/**
 * Ajouts à trier et ranger
 */

div.ticket > div {
	width: 100%;
}

div.ticket > div > div {
	width: 50%;
	float: right;
}

div.ticket > div > div > div {
	float: left;
	width: 100%;
}

div.ticket > div > div:first-child {
	float: left;
}

div.ticket div.priority {
   float: left;
}

div.ticket div.issuetype {
   float: left;
}

div.ticket div.number {
   float: left;
   font-size: 1.8em;
}

div.ticket div.summary {
   font-size: 2em;
   float: left;
}

div.ticket div.story_points {
   float: left;
   font-size: 1.2em;
}

div.ticket div.personalization {
 	float: right;
	text-align: right;
}

div.issuetype.color {
	width: 100%;
	height: 2.5%;
}

div.issuetype.color.bug { background-color: #D04437; }
div.issuetype.color.epic, div.issuetype.color.epicforagileboards { background-color: #654982; }
div.issuetype.color.task { background-color: #3B7FC4; }
div.issuetype.color.subtask { background-color: #3B7FC4; }
div.issuetype.color.idea { background-color: red; }
div.issuetype.color.improvement { background-color: red; }
div.issuetype.color.newfeature { background-color: red; }
div.issuetype.color.story { background-color: #67AB49; }
